/* CTA */

.cta {
    padding: 80px 0 110px;
    background:
        radial-gradient(circle at right bottom, rgba(255,31,45,0.10), transparent 35%),
        #050505;
}

.cta-box {
    position: relative;
    overflow: hidden;

    min-height: 430px;

    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 28px;

    background:
        linear-gradient(135deg, rgba(255,31,45,0.25), transparent 35%),
        rgba(255,255,255,0.015);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.cta-box h2 {
    font-size: 72px;
    line-height: 1.05;
    font-weight: 400;
    margin-bottom: 28px;
}

.cta-box p {
    color: var(--text-secondary);
    font-size: 22px;
    margin-bottom: 42px;
}

.cta-btn {
    min-width: 340px;
    height: 60px;

    padding: 0 32px;

    border-radius: 7px;

    background: var(--red);
    color: #fff;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 14px;

    font-size: 17px;
    font-weight: 900;
    letter-spacing: 2px;

    transition: 0.3s ease;

    box-shadow: 0 20px 60px rgba(255,31,45,0.18);
}

.cta-btn:hover {
    background: #ff3340;
    transform: translateY(-3px);
}

.cta-btn span {
    font-size: 24px;
}

/* CTA RESPONSIVE */

@media (max-width: 768px) {
    .cta {
        padding: 55px 0 80px;
    }

    .cta-box {
        min-height: 270px;
        border-radius: 18px;
        padding: 34px 22px;
    }

    .cta-box h2 {
        font-size: 30px;
        line-height: 1.25;
        margin-bottom: 18px;
    }

    .cta-box p {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 30px;
    }

    .cta-btn {
        min-width: 220px;
        width: 100%;
        max-width: 260px;
        height: 48px;
        font-size: 12px;
        letter-spacing: 1px;
    }
}
